@model Projeto

@{
    Layout = null;
}

<div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevisaoDeInicio" class="control-label"></label>
                <input asp-for="PrevisaoDeInicio" class="form-control" />
                <span asp-validation-for="PrevisaoDeInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevisaoDeConclusao" class="control-label"></label>
                <input asp-for="PrevisaoDeConclusao" class="form-control" />
                <span asp-validation-for="PrevisaoDeConclusao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Situacao" class="control-label"></label>
                <select asp-for="Situacao" class="form-control" asp-items="Html.GetEnumSelectList<EnumSituacaoProjeto>()"></select>
                <span asp-validation-for="Situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="ViewBag.AreaId"></select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="UrlImagem" class="control-label"></label>
                <input asp-for="UrlImagem" class="form-control"/>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>