@model IEnumerable<Projeto>
@{
    ViewData["Title"] = "Admin";
}
<style>
    div.clear
    {
        clear: both;
    }
    
    div.product-chooser div.product-chooser-item{
        padding: 11px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        border: 1px solid #efefef;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
    }
	
    div.product-chooser div.product-chooser-item img{
        padding: 0;
    }
		
    div.product-chooser div.product-chooser-item span.title{
        display: block;
        margin: 10px 0 5px 0;
        font-weight: bold;
        font-size: 12px;
    }
		
    div.product-chooser div.product-chooser-item span.description{
        font-size: 12px;
    }
		
    div.product-chooser div.product-chooser-item input{
        position: absolute;
        left: 0;
        top: 0;
        visibility:hidden;
    }
</style>

<div class="container">
    <h2>Painel do Administrador</h2>
    <div class="row form-group product-chooser">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="product-chooser-item selected">
                        <img src="fa fa-img fa-2x" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                        <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                            <span class="title">Mobile and Desktop</span>
                            <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
                            <input type="radio" name="product" value="mobile_desktop" checked="checked">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        }
    </div>
</div>



