@model IEnumerable<ComCity.Models.Projeto>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Projetos</h2>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group mt20">                
                <input name="search" class="form-control" placeholder="Busque por Nome ou Bairro" value="@Context.Request.Query["search"]"/>                
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
                </span>
            </div>
        </form>
    </div>
</div>


@foreach(var projeto in Model)
{
    <div class="card">    
        <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Norway">
        <div class="container">
            <h4>
                <strong>
                    <a asp-action="Details" asp-controller="Projetos">         
                        Nome do Projeto
                    </a>
                </strong> 
                 </h4> 
            <p> @projeto.Situacao </p>
        </div>
    </div>

}